/************************
Theme
************************/
html {
    font-size: 16px;
}

a {
    transition: all 0.3s ease;
}

body {
    color: #222;
    font-family: 'Open Sans', serif;
    font-size: 16px;
    transition: background 1s ease;
}

.mauto {
    margin: auto !important;
}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
   max-width: 100%;
}

button.radius,
.button.radius {
    border-radius: 5px;
}

button.round,
.button.round {
    border-radius: 1000px;
}

.strong {
    font-weight: bold;
}

.max-width-container {
    max-width: 1200px;
    margin: auto;
}

.position-relative {
    position: relative;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.break {
    display: block;
}

.red,
a.red:visited {
    color: #ea6d6c;
}

a.red:hover,
a.red:active,
a.red:focus {
    color: #fb7e7d;
}

a.teal:visited,
.teal {
    color: #93d8ca;
}

a.teal:hover,
a.teal:active,
a.teal:focus {
    color: #a4e9db;
}

.small_hr {
    border-bottom: 2px solid #93d8ca;
    max-width: 200px;
}

img {
    max-width: 100%;
}

a {
    transition: all 0.3s;
}

a:hover {
    text-decoration: none;
}


/************************
If Form Submitted
************************/
.form-submitted {
    background-color: #39b54a;
    color: white;
    border-radius: 0 0 4px 4px;
    position: absolute;
    top: 0;
    z-index: 9999;
    font-weight: bold;
    display: none;
}

.form-submitted p {
    margin: 0;
    padding: 25px;
}

.msg-sent {
    margin-top: 70px;
}

p {
    line-height: 1.8;
}


/************************
Navigation
************************/
.navbar {
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
}

.logo {
    max-width: 50px;
}

.navbar a {
    color: white;
}

.navbar a:hover,
.navbar a:visited {
    background-color: rgba(147,216,202, 1) !important;
}

.navbar a:focus {
    background-color: #ea6d6c !important;
}

.top-bar-right {
    padding-top: 20px;
}

.menu-icon {
    margin-top: 10px;
}

.logo {
    float: left;
    vertical-align: middle;
    padding-top: 8px;
}

.navbar-brand {
    margin-left: 15px !important;
}

.navbar {
    padding: 10px 0;
}


/************************
Video Background Section
************************/
.video {
    height: 700px;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    z-index: 0;
    min-height: 300px !important;
}

.intro-content {
    color: black;
    text-align: center;
    margin: auto;
    position: absolute;
    width: 100%;
    z-index: 2;
    top: 37%;
 }

.intro-content h1 {
    color: white;
    font-family: 'Open Sans', serif;
    margin: auto;
}

.intro-content h2 {
    color: white;
    font-family: 'Open Sans', serif;
    font-size: 20px;
}

.intro-content .colored {
    max-width: 150px;
    border-bottom: 4px double #93d8ca;
    border-top: 1px solid #93d8ca;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0px;
}


/************************
Mission Statement
************************/
#mission-statement {
    padding-top: 50px;
    padding-bottom: 50px;
}

#mission-statement p {
    font-size: 22px;
    line-height: 1.9;
}

#mission-statement span {
    font-size: 28px;
}

.fa-quote-right,
.fa-quote-left {
    font-size: 1.5rem;
    padding: 7px;
}

.highlight-container .lead {
    padding-top: 15px;
    margin-bottom: 0;
    font-size: 21px !important;
    line-height: 1.5 !important;
    display: inline-block;
}

.highlight-container {
    margin-bottom: 20px;
}


/************************
Orangutan Callout
************************/
#orangutan-callout {
    background-image: url(/img/orangutan4.jpg);
    background-attachment: fixed;
    padding: 50px 0;
    background-size: cover;
    background-position: center;
    color: #222;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
}

#orangutan-callout .container .row {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 50px 30px;
}

.deaths-container {
    font-size: 1.2rem;
}

.deaths {
    font-size: 4rem;
    line-height: 1.2;
}

.about-orang-p {
    margin-bottom: 0;
}


/************************
Statistics / Charts
************************/
#statistics {
    background-color: white;
}

.charts {
    max-width: 1200px;
}

.charts h3 {
    font-size: 1.3em;
    margin-bottom: 20px;
}

.chart1,
.chart2,
.chart3 {
    width: 100%;
    margin: auto;
    padding: 0 15px;
}

.chart3 ol {
    max-width: 80px;
    margin: auto;
    padding-top: 15px;
}

.charts3-ol li {
    display: inline-block !important;
    padding: 0 5px;
}

.charts p {
    padding-top: 15px;
}

#statistics {
    padding: 50px 0;
}

#statistics h2,
.section-title {
    margin-bottom: 20px;;
    border-bottom: 2px solid #222;
    display: inline-block;
    padding: 0;
    padding-bottom: 5px;
}


/************************
Gif
************************/
#gif {
    padding: 50px 0;
    color: white;
    font-size: 20px;
    text-align: center;
}

#gif p {
    margin-bottom: 0;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0px 0px 5px 5px;
    line-height: 2;
}

#forest-gif {
    border-radius: 5px 5px 0 0;
}


/************************
Environment Callout
************************/
#environment-callout {
    background-image: url(/img/logs.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 50px 0;
    color: white;
    font-size: 20px;
    text-align: center;
}

#environment-callout p {
    margin-bottom: 0;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    line-height: 2;
}

#environment-callout2 {
    background-image: url(/img/deforest2.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 50px 0;
    color: white;
    font-size: 20px;
    text-align: center;
}

#environment-callout2 p {
    margin-bottom: 0;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    line-height: 2;
}

.environment-list li {
    line-height: 1.5;
    padding-bottom: 20px;
}

.environment-list .fa-globe {
    padding-right: 5px;
}


/************************
Environment Effects
************************/
#environment-effects h2 {
    margin-bottom: 20px;;
    border-bottom: 2px solid #222;
    display: inline-block;
    padding: 0px;
}

#environment-effects,
#contact {
    padding-top: 50px;
    padding-bottom: 50px;
    /*background-image: url(/img/concrete_seamless.png);*/
}


/************************
Palm Oil
************************/
#palm-oil h2 {
    margin-bottom: 20px;;
    border-bottom: 2px solid #222;
    display: inline-block;
    padding: 0px;
}

#palm-oil {
    padding-top: 50px;
    padding-bottom: 50px;
}

#palm-oil p {
    font-size: 18px;
}

.masonry-container {
    margin-left: auto;
    margin-right: auto;
}

.palm-oil-thing {
    width: 250px;
    height: 250px;
    background-color: #93d8ca;
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
    text-align: center;
    transition: all 0.3s ease;
    float: left;
}

.palm-oil-thing:hover {
    cursor: pointer;
}

.palm-oil-thing span {
    position: absolute;
    top: 37%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    color: white;
    font-size: 30px;
    transition: all 0.3s ease;
}

.palm-oil-thing .image-text-container {
    padding: 10px;
    margin-left: auto;
    margin-left: auto;
    opacity: 0;
    transition: all 0.3s ease;
    color: #fff;
}

.palm-oil-thing .image-text-container p {
    line-height: 1.6;
}

.opacity1 {
    opacity: 1 !important;
}

.palmHeight {
    height: 250px;
}


/************************
Many Products
************************/
#many-products {
    background-color: #ea6d6c;
}

.palm-ingredients {
    margin-bottom: 0;
}

.palm-ingredients li {
    display: inline-block;
    margin: 7px 5px;
    padding: 5px 20px;
    border: 2px solid #fff;
    color: #fff;
    transition: all 0.3s ease;
}

.palm-ingredients li:hover {
    border: 2px color white;
    color: #ea6d6c;
    background-color: white;
    cursor: default;
}

.white {
    color: white;
}


/************************
How You Can Help
************************/
#you-help {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(/img/tropical-forest.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 22px;
    line-height: 1.6;
    color: white;
}

#you-help ul li {
    padding-bottom: 15px;
}

#you-help .section-title {
    border-bottom: 2px solid #fff;
}


/************************
Contact Form
************************/
.contact-form input,
.contact-form textarea {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding-left: 5px;
    border: 1px solid #efefef;
    font-size: 18px;
}

.questions-p {
    margin-bottom: 30px;
    font-size: 18px;
}

.contact-form input {
    height: 45px;
}

.contact-form textarea {
    height: 200px;
}

.contact-form {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#submit-button {
    font-size: 20px;
    padding: 12px 30px;
    font-weight: bold;
    background-color: #82c7b9;
    border: none;
    transition: all 0.3s;
}

#submit-button:hover {
    background-color: #93d8ca;
}


/************************
Footer
************************/
footer {
    padding: 40px 0;
    background-color: #777;
    color: white;
    font-weight: bold;
}

footer p {
    margin-bottom: 0;
}


/************************
************************
Media Queries
************************
************************/
@media (max-width: 639px) {
    .break-on-mobile {
        display: block;
    }

    #statistics {
        text-align: center;
    }

    .video {
        height: 400px !important;
        padding: 30px 0;
    }

    .intro-content {
        top: 30%;
    }

    .intro-content h1 {
        font-size: 28px;
        max-width: 250px;
        padding-top: 0 !important;
    }

    #statistics h2,
    #palm-oil h2,
    #environment-effects h2
    #contact h2 {
        font-size: 1.8em;
    }

    .palm-oil-thing span {
        font-size: 24px;
    }

    #environment-callout p,
    #environment-callout2 p,
    #gif p,
    #palm-oil p,
    .environment-list li,
    #you-help p,
    #you-help ul li {
        font-size: 16px !important;
        text-align: center;
    }

    #environment-callout2 p {
        padding: 20px;
    }

    #many-products {
        padding: 50px 0;
    }

    #orangutan-callout .container .row {
        margin-left: 5px;
        margin-right: 5px;
    }

    .about-orang-p {
        font-size: 17px;
    }

    #mission-statement span {
        font-size: 22px;
    }

    #mission-statement p {
        font-size: 16px;
    }

    .chart1,
    .chart2,
    .chart3 {
        margin-bottom: 40px;
    }

    .palm-ingredients {
        margin-right: 0;
    }

}

@media (max-width: 1023px) {
    .top-bar .top-bar-left, .top-bar .top-bar-right {
        width: 100%;
    }

    .logo {
        background: transparent;
    }

    .title-bar {
        background-color: #2d2d2d;
    }

    .nav-background {
        background-color: #3e3e3e;
    }

    .mobile-dropdown li {
        padding-bottom: 3px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        margin-bottom: 7px;
    }
}

@media (min-width: 1024px) {

    .intro-content h1 {
        font-size: 50px;
        line-height: 1.2;
    }

    .intro-content h2 {
        font-size: 24px;
    }

    #mission-statement,
    #environment-effects,
    #contact {
        padding: 100px 0;
    }

    #you-help {
        margin-bottom: 100px;
    }

    #environment-callout,
    #environment-callout2,
    #gif, #statistics,
    #many-products {
        padding: 150px 0;
    }

    #statistics {
        padding-bottom: 200px;
    }

    #orangutan-callout {
        padding: 200px 0;
    }

    #statistics h2,
    #palm-oil h2,
    #environment-effects h2 {
        margin-bottom: 50px;
        padding-bottom: 5px;
    }

    .environment-list li {
        font-size: 22px;
    }

    #palm-oil p {
        font-size: 20px;
    }

    .chart1,
    .chart2,
    .chart3 {
        width: 33%;
        padding: 0 15px;
    }

    .chart1 {
        float: left;
    }

    .chart2 {
        float: right;
    }

    .chart3 {
        float: right;
    }

}
